@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
@viewport {
    width: device-width;
    zoom: 1.0;
}

:root {
    /* bd3937 */
    /* 1c25e6 */
    --accentColor: #bd3937;
    --highlightColor: #333333;
    --backgroundColor: #212121;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: "Trebuchet MS", Helvetica, sans-serif; */
    /* font-family: "Verdana", Geneva, sans-serif; */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    background-color: white;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}


/* ---------------------- MENU BAR---------------------- */

.menu_bar {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 70px;
    position: relative;
    top: 0;
    text-align: center;
    background-color: var(--backgroundColor);
}

.menu_bar img {
    float: left;
    padding: 3px;
}

.menu_bar h1 {
    color: white;
    padding: 0px;
    margin: 0px;
    float: left;
    line-height: 70px;
    vertical-align: center;
    padding-left: 10px;
    padding-right: 15px;
}

.menu_bar input {
    float: left;
    background-color: var(--backgroundColor);
    background-image: url('images/searchicon.png');
    background-position: 4px 4px;
    background-repeat: no-repeat;
    padding-left: 30px;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 4px;
    width: 30%;
    height: 30px;
    color: white;
    margin-top: 25px;
    transition: 0.5s;
}

.menu_bar input:hover {
    background-color: black;
    border: 1px solid white;
}

.menu_bar a {
    background: linear-gradient( to bottom, var(--accentColor) 0%, var(--accentColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
    transition: background-size .5s;
}

.menu_bar a:hover {
    background-size: 4px 50px;
}

.menu_bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    float: right;
    vertical-align: top;
}

.menu_bar li {
    color: white;
    list-style-type: none;
    padding: 0px;
    display: inline;
    line-height: 70px;
    padding: 5px 15px;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    background: linear-gradient( to bottom, var(--accentColor) 0%, var(--accentColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
    transition: background-size .5s;
}

.side-menu a:hover {
    background-size: 4px 50px;
}

.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-right .5s;
    padding: 16px;
}

@media screen and (max-width: 600px) {
    /* comes into effect for screens less than or equal to 320 pixels */
    .menu_bar ul {
        display: none;
    }
    .menu_bar .side-menu {
        color: white;
        display: contents;
        float: right;
        line-height: 70px;
    }
}


/* ---------------------- HERO IMAGE ---------------------- */

.hero-image {
    background-image: url("../images/banner.png");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* top: 70px; */
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translate(5%, 20%);
    /* color: var(--accentColor); */
    color: white;
}

.hero-text h1 {
    font-size: 50px;
}


/* ---------------------- MAIN ---------------------- */

main {
    margin: auto;
    padding: 0px;
    background-color: var(--backgroundColor);
    color: white;
    position: relative;
    border: 1px solid var(--backgroundColor);
}

main h2 {
    padding-left: 10px;
    padding-bottom: 0x;
    font-size: 32px;
    margin-bottom: 2px;
}

main p {
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 6px;
}


/* ---------------------- 'MEET THE TEAM' ---------------------- */

*,
*:before,
*:after {
    box-sizing: inherit;
}

.row {
    position: relative;
    width: 100%;
    margin: auto;
    /* padding-left: 5px;
    padding-right: 5px; */
}

.column {
    position: relative;
    /* Three columns side by side */
    float: left;
    margin: auto;
    width: 30%;
    margin-bottom: 16px;
    padding-left: 1.66%;
    padding-right: 1.66%;
}

.card {
    /* Add some shadows to create a card effect */
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.75);
    background-color: var(--highlightColor);
    height: 550px;
    margin: auto;
    overflow: hidden;
}

.container {
    /* Some left and right padding inside the container */
    padding-left: 8px;
    padding-right: 8px;
    margin: auto;
}

.container::after,
.row::after {
    /* Clear floats */
    content: "";
    clear: both;
    display: table;
}

.card-img {
    width: 100%;
    height: 60%;
    background-color: black;
    /* display: inline-block; */
    vertical-align: center;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.card-img img {
    display: block;
    margin: auto;
    padding: 0px;
    /* min-width: 100%; */
    /* max-height: 100%; */
    height: 100%;
    transition: transform .5s ease;
}

.card-img:hover img {
    transform: scale(1.075);
}

.title {
    color: grey;
}

.button:hover {
    background-color: red;
}

@media screen and (max-width: 1000px) {
    /* Display the columns below each other instead of side by side on small screens */
    .column {
        width: 45%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        /* display: block; */
    }
}

@media screen and (max-width: 650px) {
    /* Display the columns below each other instead of side by side on small screens */
    .column {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        /* display: block; */
    }
    .card-img img {
        height: auto;
        min-height: 100%;
        min-width: 100%;
        max-height: 150%;
        max-width: 150%;
        transition: transform .5s ease;
    }
}


/* ---------------------- FOOTER ---------------------- */

footer {
    background-color: var(--highlightColor);
    border-top: 1px solid var(--highlightColor);
    border-bottom: 1px solid var(--highlightColor);
    color: white;
    width: 100%;
    float: bottom;
    text-align: center;
}